<div class="container introduction">
    <div class="row">
        <div class="col-8 align-self-center">
            <h2><b>Nicolò Paolini</b></h2>
            <h1 class="green">Full Stack Web Developer_</h1>
            <h5>Il mio obiettivo è sviluppare soluzioni web che siano sia coinvolgenti, in grado di offrire un'esperienza utente innovativa e intuitiva.</h5>
        </div>
        <div class="col-4 text-end">
            <img class="img-fluid" src="/assets/images/Avatar.png" alt="Avatar" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn bg-green white p-3"><h5 class="m-0"><b>Scarica CV</b></h5></button>
        </div>
    </div>
</div>